body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #2563eb, #9333ea);
}

section {
    padding: 50px;
    text-align: center;
}

iframe {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
